body {
  background-color: rgb(231, 231, 231);
  text-align: center;
  margin: 0;
}
header {
  background: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  font-style: italic;
  font-family: "Segoe UI";
}
header h1 {
  background: rgb(255, 255, 255);
  margin: 0;
  font-family: Cambria;
}

.post {
  background: white;
  font-family: Verdana;
}
.container {
  width: 600px;
  margin: auto;
}
.post img {
  width: 600px;
  margin: auto;
}
.summary {
  font-family: serif;
}
.outof {
  text-align: right;
  font-weight: bold;
}
